/* .homepage {
  width: 100%;
  height: 100%;
  justify-content: center;
} */

.homepage .cat1{
    margin-top: 3rem;
    background-image:linear-gradient(17deg, rgb(10, 10, 10), rgb(75, 72, 34), rgb(5, 5, 5));
    background-clip: text;
    color: transparent;
    font-size: 25px;


}
.homepage .cat2{
    margin-top: 3rem;
    background-image:linear-gradient(17deg, rgb(10, 10, 10), rgb(75, 72, 34), rgb(5, 5, 5));
    background-clip: text;
    color: transparent;
    font-size: 25px;
}



 /* ...................................................  */
          /* this the START of SECOND cards */
  /* ...................................................  */

.homepage .empty {
  position: relative;
  display: block;
  margin: auto;
  flex-direction: column;
  justify-self: center;
  width: 350px;
  height: 350px;
  background-color: #34373988;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .homepage .empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
  }
  
  /* creating the movie card as a flex  */
  .homepage .container2 {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* the whole movie  */
   .homepage .movie {
    width: 210px;
    height: 260px;
    margin: 1rem;
  
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: none;
  
    transition: all 4s cubic-bezier(0.175, 0.885, 0, 1);
    /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
  }
  
  /* the year */
  .homepage .movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 100;
    top: 0;
    color: #f9d3b4;
  }
  /* the whole movie hover */
  .homepage .movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(221, 25, 25, 0.959);
    transform: scale(1, 1.05);
  }
  /* type (2) is image box, type (3) is text box  */
  .homepage .movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
  .homepage .movie div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
  }
  
  .homepage .movie div:nth-of-type(3) {
    z-index: 2;
    background-color: #343739;
    padding: 1px 24px 0px 24px;
  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .homepage .movie div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
  }
  
  .homepage .movie div:nth-of-type(3) h3 {
    margin-top: 1px;
    margin-bottom: 0rem;
    font-family: "Roboto Slab", serif;
    color: #f9d3b4;
    font-size: 12px;
  }
  .homepage .movie div:nth-of-type(3) button {
    margin-top: 1px;
    margin-bottom: 0rem;
    padding-top: 0rem;
    /* padding: 0.1rem; */
    font-family: "Roboto Slab", serif;
    border-radius: 6px;
    color: #f9d3b4;
    background-color: rgb(182, 113, 49);
    /* font-size: 12px; */
  }
  
  .homepage .movie:hover div:nth-of-type(2) {
    /* height: 50%; */
    opacity: 100;
  }
  
  .homepage .movie:hover div:nth-of-type(3) {
    /* background-color: transparent; */
  }
  
  .homepage .movie:hover div:nth-of-type(1) {
    opacity: 1;
  }

    /* ...................................................  */
          /* this the START of Home Page Hero */
  /* ...................................................  */

.homepage .homePageHero {

  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
 
}

.homepage .backgroundImage { 
  display: flex;
  flex-direction: column;
  width:100%;
  height: 45rem;
}

.homepage .backgroundImage .layer1 { 
  margin-top: 2rem;
  margin-right: auto;
  margin-left: 2rem;
  height: 45rem;
 
  /* background-color: aqua; */
}
.homepage .backgroundImage .layer1 img { 
  height: 200px;
  height: 200px;
  margin-left: 6rem;
  margin-top: 2rem;
  opacity: 0.5;
 border: solid 1px black;
 border-radius: 8rem;

}

.homepage .backgroundImage .storeName { 
  margin-top: -5rem;
  /* margin-right: auto; */
  margin-left: -20rem;
  margin-bottom: 5rem;
  height: 5rem;
  font-size: 60px;
 
  /* background-color: aqua; */
}
.homepage .backgroundImage .layer2 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 5rem;
}
.homepage .backgroundImage .innerlayer2 { 

  width:30%;
  height: 5rem;
}
.homepage .backgroundImage .innerlayer2 h2 { 
justify-content: center;
color: blue;
font-size: 50px;
align-items: center;
background-color: rgba(163, 163, 103, 0.199);

}

.layer2 .slick-arrow.slick-prev,
  .layer2 .slick-arrow.slick-next {
    background: rgb(23, 92, 23);
    width: 0px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
.layer2 .slick-prev::before,
.layer2 .slick-next::before {
    display: none;
    
  }
.homepage .backgroundImage .layer3 { 
  margin-left: auto;
  margin-right: 2rem;
  height: 45rem;
}
.homepage .backgroundImage .layer3 img { 
  height: 200px;
  /* margin-left: 6rem;
  margin-top: 3rem; */
  opacity: 0.8;
}



  
  /* ...................................................  */
          /* this the START of sliding cards */
  /* ...................................................  */
 
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    background: rgb(245, 248, 245);
    width: 47px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
.slick-prev::before,
.slick-next::before {
    display: none;
  }
  .slick-prev {
    display: block;
    margin-left: 1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .slick-next {
    margin-right: 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
    /* the whole movie  */
    .homepage .movie1 {
      /* width: 210px; */
      min-width: 20rem;
      height: 260px;
      margin: 1rem;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      border: none;
      transition: all 4s cubic-bezier(0.175, 0.885, 0, 1);
      /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
    }
    
    /* the year */
    .homepage .movie1 div:nth-of-type(1) {
      position: absolute;
      padding: 16px;
      width: 100%;
      opacity: 100;
      top: 0;
      color: #f9d3b4;
    }
    /* the whole movie hover */
    .homepage .movie1:hover {
      box-shadow: 0px 30px 18px -8px rgba(221, 25, 25, 0.959);
      transform: scale(1, 1.05);
    }
    /* type (2) is image box, type (3) is text box  */
    .homepage .movie1 div:nth-of-type(2) {
      width: 100%;
      height: 100%;
    }
    
    .homepage .movie1 div:nth-of-type(2) img {
      height: 100%;
      width: 100%;
    }
    
    .homepage .movie1 div:nth-of-type(3) {
      z-index: 2;
      background-color: #343739;
      padding: 1px 24px 0px 24px;
    
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
    
    .homepage .movie1 div:nth-of-type(3) span {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: 500;
      color: #f0f0f0;
    }
    
    .homepage .movie1 div:nth-of-type(3) h3 {
      margin-top: 1px;
      margin-bottom: 0rem;
      font-family: "Roboto Slab", serif;
      color: #f9d3b4;
      font-size: 12px;
    }
    .homepage .movie1 div:nth-of-type(3) button {
      margin-top: 1px;
      margin-bottom: 0rem;
      padding-top: 0rem;
      /* padding: 0.1rem; */
      font-family: "Roboto Slab", serif;
      border-radius: 6px;
      color: #f9d3b4;
      background-color: rgb(182, 113, 49);
      /* font-size: 12px; */
    }
    
    .homepage .movie1:hover div:nth-of-type(2) {
      /* height: 50%; */
      opacity: 100;
    }
    
    .homepage .movie1:hover div:nth-of-type(3) {
      /* background-color: transparent; */
    }
    
    .homepage .movie1:hover div:nth-of-type(1) {
      opacity: 1;
    }

    .homepage .empty1 {
      position: relative;
        display: block;
        margin: auto;
        flex-direction: column;
        justify-self: center;
        width: 350px;
        height: 350px;
        background-color: #34373988;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .homepage .empty1 h2 {
        font-size: 1.25rem;
        color: #f9d3b4;
        font-family: var(--font-raleway);
      }