.navbar {
    position: relative;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0; 
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #be996e;
  }
  
  .navbar .container {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
  }
  
  .navbar span {
    color: #1e17cf;
  }
  .navbar button{
   border-radius: 9px;
  }
  .navbar .buttons {
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-left: 10rem;
   margin-top: -13px;
   justify-content: center;
   align-items:center;
   color: #be996e;
  }
  .navbar .signInbtn{
    /* margin: 0 8rem; */
    margin-top: 1.5rem;
    width: fit-content;

  }
 
  .navbar .myshopbtn{
    /* margin: 0 13rem; */
    margin-top: 1.5rem;
    width: fit-content;

  }
  .navbar .signUpbtn{
    /* margin: 0 19rem; */
    margin-top: 1.5rem;
    width: fit-content;
  }
  
  .navbar .nav-menu {
    position: relative;
    display: flex;
    margin-left: 30rem;
    flex-direction: column;
  }
  .navbar a{
    text-decoration:none;
  }
 
  .navbar .nav-menu .btnlist1 {
    margin-top: -3rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    /* width: 60rem; */
    height: 2rem;
    justify-content: center;
    align-items: center;
  }
  .navbar .nav-menu .btnlist1 button {
    position: relative;
    align-items: center;
    margin-top: 0rem;
    margin-left: 4rem;
    width: 1rem;
    border: none;
    background-color: #fefefe00;
    color: blue;
    font-size: 18px; 
    height: 0;
    z-index: 10;

  }
   .hamburger {
    display: flex;
    align-items: left;
    position: absolute;
    padding: 3rem;
    margin-left: 0rem;
    z-index: 10;
   
  
  }
  
  .icon {
    font-size: 1.5rem;
  }

  .navbar li {
    padding: .2rem;
    
  }

  .navbar .nav-menu2 {
    display: none;
  }

  .navbar .nav-menu2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    right: 120%;
    align-items: left;
    height: 800%;
    width: 40%;
    background: rgba(12, 9, 9, 0.2);
    transition: 0.2s ease-in-out;
    z-index: 10;
  }
  .navbar .active {
    right: 60%;
  }
  .navbar  ul {
   list-style-type: none;
  }
  .navbar .nav-menu2 .btnlist {
    margin-top: -.5rem;
  }
  .navbar .nav-menu2 .btnlist button {
    margin-top: 0rem;
    padding: 0rem;
    padding-top: 0rem;
    border: none;
    background-color: #90679c;
    color: blue;
    font-size: 20px; 
    height: 0;
    font-weight: bolder;

  }
  .navbar .nav-menu2 li {
    margin-top: 2.3rem;
    margin-left: -1.5rem;
    justify-content: center;
    
  }

  /* .navbar .test{
    margin-left: 10rem;
    width: 400px;
    margin-top: 350px;
    background-color: #1e17cf;
  } */
  .navbar .main {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
  }

  .main .signupform {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 200px;
    margin-bottom: 50rem;
    align-items: center;
    align-content: center;
    min-height: 68%;
    min-width:330px;
    background: rgba(143, 123, 190, 0.6);
    transition: 1s ease-in-out;
    z-index: 10;
    border-radius: 15px;
    
  }
  .main .signupformoff {
    display: none;
        
  }
  .main .closeIcon{
    position: absolute;
    font-size: 2rem;
    justify-self: end;
    /* margin-left: 0rem; */
    margin-top: 1rem;
    /* z-index: 10; */

  }

  .signupform form{
    position: absolute;
    margin-top: 5rem;
    /* margin-top: 10rem;
    margin-bottom: 0.5rem;
    margin-right: 13.5rem; */
    display: flex;
    flex-direction: column;
    width: 90%;
    right: auto;
    justify-content: center;
    background-color: #90679c;
    border-radius: 1rem;
  }

  .navbar form input{
    padding: .5rem;
    margin: .3rem;
    height: 15%;
    border-radius: .5rem; 
    border: solid rgb(81, 81, 88) 0.2px;
  }
  .main .apiMessage{
    position: absolute;
    display: block;
    top: 33rem;
    width: 90%;
    background: #1e17cf;
    z-index: 10;
  }
/* tttttttttttttttttttttt */

.navbar .inmain {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
 }

 .inmain .signInform {
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 200px;
   margin-bottom: 50rem;
   align-items: center;
   align-content: center;
   min-height: 50%;
   min-width: 330px;
   background: rgba(143, 123, 190, 0.6);
   transition: 1s ease-in-out;
   z-index: 10;
   border-radius: 15px;
   
 }
 .inmain .signInformoff {
   display: none;
       
 }
 .inmain .incloseIcon{
   position: absolute;
   font-size: 2rem;
   justify-self: end;
   /* margin-left: 0rem; */
   margin-top: 1rem;
   /* z-index: 10; */

 }

 .signInform form{
   position: absolute;
   margin-top: 5rem;
   /* margin-top: 10rem;
   margin-bottom: 0.5rem;
   margin-right: 13.5rem; */
   display: flex;
   flex-direction: column;
   min-width: 90%;
   right: auto;
   justify-content: center;
   background-color: #90679c;
   border-radius: 1rem;
 }

 .navbar .inmain form input{
   padding: .5rem;
   margin: .3rem;
   height: 15%;
   border-radius: .5rem; 
   border: solid rgb(81, 81, 88) 0.2px;
 }
 .inmain .inapiMessage{
   position: absolute;
   display: block;
   top: 22rem;
   width: 90%;
   background: #1e17cf;
   color: red;
   z-index: 10;
 }
 .inmain .inapiMessage > * {
font-size: 20px;
margin: 1rem;
}



/* tttttttttttttttttttt */
  .navbar p{
    margin: -0.1rem;
    color: rgb(255, 0, 0);
    font-size: 12px;
    align-items: start;
    align-content: end;
    font-weight: light;
  }


  @media screen and (max-width: 1100px) {
    .hamburger {
      display: block;
    }
    .navbar .nav-menu {
      display: none;
    }
    .navbar .nav-menu {
      font-size: 2rem;
    }
    .navbar .signUpbtn{
      margin: auto;
      margin-top: 1.5rem;
      width: fit-content;
    }
    
  }
  @media screen and (max-width: 768px) {
    .navbar .nav-menu {
      font-size: 1rem;
    }
    .navbar .myshopbtn{
      font-size: 15px;
    }
    .navbar .signUpbtn{
      font-size: 15px;
    }
    .navbar .signInbtn{
      font-size: 15px;
     
    }
    
  }
  @media screen and (max-width: 600px) {
    .navbar .nav-menu {
      font-size: 1rem;
    }
    .navbar .myshopbtn{
      font-size: 12px;
    }
    .navbar .signUpbtn{
      font-size: 12px;
     
    }
    .navbar .signInbtn{
      font-size: 12px;
     
    }
  }
  @media screen and (max-width: 426px) {
    .navbar .hamburger {
      margin-left: -35px;
      }
    .navbar .buttons {
     margin-left: 1.6rem;
    }
    .navbar .myshopbtn{
      font-size: 11px;
    }
    .navbar .signUpbtn{
      font-size: 11px;
     
    }
    .navbar .signInbtn{
      font-size: 11px;
     
    }
  }
 