/* .shop { */
    /* width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0; */
    /* margin-top: 0;
    margin-left: 0; 
    margin-right: 0; */
    /* border-bottom: 1px solid #7e7a7a; */
    /* background-color: #000000; */
    /* position: absolute; */
  /* } */
  
  .shop .shopcontainer {
    /* height: 20%; */
    margin-left: 0; 
    margin-right: 0;
    height: 80px;
    width: 100%;
    /* top: -1rem; */
    display: flex;
    /* position: relative; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: .5rem; */
    background-color: #000000;
    /* z-index: 100; */
  }
  .shop button{
    
    margin: .5rem;
   background-color: #000000;
   border: none;
   border-bottom: solid white 2px;
   border-radius: 2rem;
   border-color: #ffffff;
   color: white;
   z-index: 10;
   /* margin-left: -20rem; */
   height: fit-content;
   width: fit-content;
  }
  .shop .homebtn {
    position: absolute;
    /* margin-right: auto; */
    margin-left: -40rem;
   align-items: center;
   justify-content: center;
   margin-top: 0rem;
   margin-bottom: 0rem;
 }
  .shop .mystorebtn {
    position: absolute;
    margin-right: auto;
   margin-left: -15rem;
   margin-top: 0rem;
   margin-bottom: 0rem;
  }
 
  
  .shop span {
    color: #5651e5;
  }
  
  
/* this is for second section */
.shop .hero {
  background-color: #f8f7f7;
  width: 100%;
  height: 250%;
  border-bottom: solid 1px rgb(101, 94, 94);
  margin-top: 1rem;
  padding-top: 1rem;
}
.hero > * {
  margin-top: 0rem;
}
.shop .header {
  /* margin-top: -2rem; */
  font-size: 60px;
  font-weight: bolder;
  color: transparent;
  background-clip:text;
  background-image: linear-gradient(48deg, rgb(0, 0, 0) 15%, rgb(26, 6, 6) 35%);
}
.shop .welcome {
  font-size: 40px;
  font-weight: bold;
  /* background-clip:text; */
  background-image: black;
}
.shop .descr {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: bold;
  /* background-clip:text; */
  background-image: black;

}
.shop .control {
  background-color: #fcfcfc;
  margin-top: 0rem;
  width: 100%;
  height: 470%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0px 0px 0 rgba(144, 126, 126, 0.777);
  
}
.shop .profile {
  display: flex;
  background-color: #f8fcfd;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 85%;
  margin: 2rem;
  margin-left: 5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 10px 0 rgba(213, 208, 208, 0.777), 0 2px 5px 0 rgba(110, 106, 221, 0.787);
}

.shop .profileDetails {
  /* display: flex; */
  position: absolute;
  width: 30%;
  height: 24rem;
  /* height: 30%; */
 margin-top:2rem;
 padding-top: 1rem;
 padding-left: 1rem;
  background-color: #c9e0ef;
  border-radius: 30px;
  z-index: 10;
  color: #5651e5;
  text-align: justify;
}
.shop .shopLogo {
  background-color: #f8fcfd;
  /* width: 50%;
  height: 85%; */
  width: 40rem;
  height: 32rem;
  margin: 2rem;
  margin-right: 5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 10px 0 rgba(213, 208, 208, 0.777), 0 2px 5px 0 rgba(110, 106, 221, 0.787);
}
.shop .shopLogo img {
  /* min-width: 10rem;
  min-height: 10rem;  */
  height: 80%;
  width: 70%;
  margin-top: 1rem;
 /* margin-left: 10rem; */
  /* background-color: #cfd5d8; */
  border-radius: 50%;
  box-shadow: 0 0px 10px 0 rgba(144, 126, 126, 0.777);
  background-color: #000000;
  padding: 10px;
}
.shop .editbtn {
 
  top: 0px;
  left: 0px;
  color: blue;
}

  

/* this is for third section */
/* .shopform{
  margin-top: 5rem;
  z-index: 0;
 
} */






/*-------------------- this is the fourth section----------------------*/

.shop .editprofile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -5rem;
 }

 .editprofile .clickeditprofile {
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 90px;
   margin-bottom: 50rem;
   align-items: center;
   align-content: center;
   /* height: 70%; */
   height: 47rem;
   min-width: 330px;
   background: rgba(69, 10, 208, 0.6);
   transition: 1s ease-in-out;
   z-index: 11;
   border-radius: 15px;
   
 }
 .editprofile .clickeditprofileoff {
   display: none;
       
 }
 .editprofile .editcloseIcon {
   position: absolute;
   font-size: 2rem;
   /* justify-self: end; */
   /* margin-left: 0rem; */
   margin-top: 1rem;
   z-index: 10;
   color: #000000;

 }
 .shop .editprofile button {
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 25rem;
  height: fit-content;
  width: fit-content;
  background-color: #000000;
  border-radius: 0rem;
  border-color: #ffffff;
  color: white;
  font-size: 16px;
  border: none;
  transition: transform 1s;
  border-bottom: white solid 2px;
  
 }
 .shop .editprofile button:hover {
  transform: scale(1.05);
  background-color: #fcfcfc;
  color: rgb(0, 0, 0);
 }

 .clickeditprofile form{
   position: absolute;
   margin-top: 4rem;
   /* margin-top: 10rem;
   margin-bottom: 0.5rem;
   margin-right: 13.5rem; */
   display: flex;
   flex-direction: column;
   width: 90%;
   right: auto;
   justify-content: center;
   background-color: #90679c;
   border-radius: 1rem;
 }

 .shop .editprofile form input{
   padding: .5rem;
   margin: .3rem;
   margin-bottom: 0;
   height: 15%;
   border-radius: .5rem; 
   border: solid rgb(81, 81, 88) 0.2px;
 }
 .shop .editprofile p {
  color: rgb(224, 43, 43);
  font-size: 20px;
  
}
 /* .editprofile .editapiMessage{
   margin-top: auto;
   margin-bottom: 1rem;
   height: 70px;
   width: 90%;
   background: #1e17cf;
   z-index: 10;
 } */





 /* ----------------this is the fifth section------------------------*/

.shop .shopform {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* margin: auto; */
  /* margin-left: 5rem;
  margin-right: 55rem; */
  /* background-color: #00000100; */
  /* background:none;
  border: none; */

 }

 .shopform .addproduct {
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 100px;
   margin-bottom: 50rem;
   align-items: center;
   align-content: center;
   /* min-height: 70%; */
   min-height: 33rem;
   min-width:330px;
   /* width: 30%; */

   background: rgba(69, 10, 208, 0.6);
   transition: 1s ease-in-out;
   z-index: 11;
   border-radius: 15px;
   
 }
 .shopform .addproductoff {
   display: none;
       
 }
 .shopform .addproductIcon {
   position: absolute;
   font-size: 2rem;
   /* justify-self: end; */
   /* margin-left: 0rem; */
   margin-top: 1rem;
   z-index: 10;
   color: #000000;

 }
 .shopform button {
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 10rem;
  height: fit-content;
  width: fit-content;
  background-color: #000000;
  border-radius: 0rem;
  border: none;
  border-bottom: white 2px solid;
  color: white;
  font-size: 16px;
  transition: transform 1.5s;
 }
 .shopform button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
 }

 .addproduct form{
   position: absolute;
   margin-top: 5rem;
   /* margin-top: 10rem;
   margin-bottom: 0.5rem;
   margin-right: 13.5rem; */
   display: flex;
   flex-direction: column;
   width: 90%;
   right: auto;
   justify-content: center;
   background-color: #471c7d;
   border-radius: 1rem;
 }

 .shop .shopform form input{
   padding: .3rem;
   margin: .2rem;
   height: 15%;
   border-radius: .5rem; 
   border: solid rgb(81, 81, 88) 0.2px;
 }
 .shop .shopform .radiobtn {
  font-size: 20px;
 }
 .shop .shopform label {
  margin-left: 1rem;
  font-size: 15px;
 }
 .shop .shopform p {
  color: rgb(214, 22, 22);
  font-size: 15px;
  margin: 0;
 }

 /* .shopform .addproductapiMessage{
   width: 90%;
   background: #1e17cf;
   margin-top: auto;
   margin-bottom: 2rem;
   z-index: 10;
 } */





/* this is for sixth section */

.shop .empty {
  position: relative;
  display: block;
  margin: auto;
  flex-direction: column;
  justify-self: center;
  width: 350px;
  height: 350px;
  background-color: #34373988;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .shop .empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
  }
  
  /* creating the movie card as a flex  */
  .shop .container2 {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
   
  }
  
  /* the whole movie  */
   .shop .movie {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    height: 600px; 
    position: relative;
    border-radius: 10px;
    /* overflow: hidden; */
    border: solid 1px black;
  
    transition: all 4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  
  /* the year */
  /* .shop .movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 100;
    margin-top: 0rem;
    color: #f9d3b4;
  } */
  /* the whole movie hover */
  .shop .movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(145, 124, 124, 0.959);
    transform: scale(1, 1.05);
  }
  /* type (2) is image box, type (3) is text box  */
  /* .shop .movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  } */
  
  .shop .movie div:nth-of-type(2) img {
    /* height: 100%; */
    width: 100%;
    height: 400px;
  }
  
  /* .shop .movie div:nth-of-type(3) {
    z-index: 2;
    background-color: #343739;
    padding: 1px 24px 0px 24px;
  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .shop .movie div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
  }
  
  .shop .movie div:nth-of-type(3) h3 {
    margin-top: 1px;
    margin-bottom: 0rem;
    font-family: "Roboto Slab", serif;
    color: #f9d3b4;
    font-size: 12px;
  }
  .shop .movie div:nth-of-type(3) button {
    margin-top: 1px;
    margin-bottom: 0rem;
    padding-top: 0rem; */
   
    /* font-family: "Roboto Slab", serif;
    border-radius: 6px;
    color: #f9d3b4;
    background-color: rgb(182, 113, 49); */
    
  /* } */
  
  .shop .movie:hover div:nth-of-type(2) {
    /* height: 50%; */
    opacity: 100;
  }
  
  .shop .movie:hover div:nth-of-type(3) {
    /* background-color: transparent; */
  }
  
  .shop .movie:hover div:nth-of-type(1) {
    opacity: 1;
  }

  .shop .movie .group3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: 0rem;
    
  }
  .shop .movie .buttons {   
    /* margin-left: auto;
    width: 20%;
    background-color: #cf5117; */
    margin-top: auto;
  }

  .shop .movie .edit {
  
    margin-left: auto;
    width: 20%;
    background-color: #1e17cf;
    /* margin-top: auto; */
  }
  .shop .movie .delete {   
    margin-left: auto;
    width: 20%;
    background-color: #cf5117;
    /* margin-top: auto; */
  }


/* edit product section ....................... */
  .shop .editproduct {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* margin-top: 5rem; */
    /* margin: auto; */
    /* margin-left: 5rem;
    margin-right: 55rem; */
    /* background-color: #00000100; */
    /* background:none;
    border: none; */
  
   }
  
   .editproduct .clickeditproduct {
     position: fixed;
     display: flex;
     flex-direction: column;
     top: 100px;
     margin-bottom: 50rem;
     align-items: center;
     align-content: center;
     height: 80%;
     width: 90%;
     background: rgba(69, 10, 208, 0.6);
     transition: 1s ease-in-out;
     z-index: 11;
     border-radius: 15px;
     
   }
   .editproduct .clickeditproductoff {
     display: none;
         
   }
   .editproduct .editcloseIcon {
     position: absolute;
     font-size: 2rem;
     /* justify-self: end; */
     /* margin-left: 0rem; */
     margin-top: 1rem;
     z-index: 10;
     color: #000000;
  
   }
  .editproduct button {
    /* position: absolute; */
    margin-top: 0rem;
    margin-left: 0rem;
    width: 10rem;
    height: 3rem;
    color: #000000;
    background-color: rgb(103, 175, 229);
    font-size: 20px;
   }
  
   .clickeditproduct form{
     position: absolute;
     margin-top: 4rem;
     /* margin-top: 10rem;
     margin-bottom: 0.5rem;
     margin-right: 13.5rem; */
     display: flex;
     flex-direction: column;
     width: 95%;
     right: auto;
     justify-content: center;
     background-color: #90679c;
     border-radius: 1rem;
   }
  
   .shop .editproduct form input{
     padding: .5rem;
     /* margin: .3rem; */
     height: 15%;
     border-radius: .5rem; 
     border: solid rgb(81, 81, 88) 0.2px;
   }
   .editproduct .radiobtn label {
    margin-left: 8px;
   }
   /* .editproduct .editapiMessage{
     position: absolute;
     display: block;
     top: 26rem;
     width: 100%;
     background: #1e17cf;
     z-index: 10;
   } */

   @media screen and (max-width:1300px) {
  
    .shop .hero {
      height: 300%;
    }
    .hero > * {
      margin-top: 0rem;
    }
    .shop .header {
      font-size: 50px;
    }
    .shop .welcome {
      font-size: 30px;
    }
    .shop .descr {
      font-size: 20px;
    }

    .shop .control {
      margin-top: 2rem;
      /* min-height:100%; */
      height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;   
    }
    .shop .profile {
      width: 30rem;
      min-height: 45%;
      margin-top: 1rem;
      margin-left: 0rem;   
      margin-right: 0px;  
    }
    
    .shop .profileDetails {
      width: 28rem;
      height: 20em;
    }
    .shop .shopLogo {
      width: 30rem;
      height: 31rem;
      margin: 0rem;
      margin-top: 2rem;
    }
    .shop .shopLogo img {
      width: 65%;
      height: 100%; 
      margin-top: 0rem;
    }
    .shop .container2 {

      grid-template-columns: repeat(3,1fr);
    }
   }
   @media screen and (max-width:1026px) {
    .shop .container2 {
      grid-template-columns: repeat(2,1fr);
    }
    .shop .editprofile button {
      margin-right: 20rem;   
     }
   }
   @media screen and (max-width:800px) {
    .shop .circle {
      min-width: 2px;
      min-height: 2px; 
      margin-top: 1rem;
     
    }
    .shop .homebtn {
      position: absolute;
      /* margin-right: auto; */
      margin-left: -25rem;
     align-items: center;
     justify-content: center;
     margin-top: 0rem;
     margin-bottom: 0rem;
     font-size: 12px;
   }
    .shop .mystorebtn {
      position: absolute;
      margin-right: auto;
     margin-left: -15rem;
     margin-top: 0rem;
     margin-bottom: 0rem;
     font-size: 12px;
    }
    .shop .editprofile button {
      margin-top: 1.5rem;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 12rem;
      font-size: 12px;
     }
     .shopform button {
      margin-top: 1.5rem;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 70px;
      font-size: 12px;
     }
   
   }

   @media screen and (max-width: 630px) {
    .shop .container2 {
      grid-template-columns: repeat(1,1fr);
    }
   }
   @media screen and (max-width: 426px) {
    .shop .header {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .shop .welcome {
      font-size: 25px;
      margin-bottom: 20px;
    }
    .shop .descr {
      font-size: 20px;
    }
    .shop .homebtn {
      margin-left: -16rem;
     margin-top: 0rem;
     margin-bottom: 0rem;
     font-size: 11px;
   }
    .shop .mystorebtn {
      position: absolute;
      margin-right: auto;
     margin-left: -9rem;
     margin-top: 0rem;
     margin-bottom: 0rem;
     font-size: 11px;
    }
    .shop .editprofile button {
      margin-top: 1.7rem;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 6rem;
      font-size: 11px;
     }
     .shopform button {
      margin-top: 1.7rem;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 0.5rem;
      font-size: 11px;
     }
    .shop .shopLogo {
      width: 19rem;
      height: 26rem;
      margin: 0rem;
      margin-top: 2rem;
    }
    .shop .shopLogo img {
      width: 90%; 
      padding: 10px;
    }
    .shop .profile {
      width: 19rem;
    }
    .shop .profileDetails {
      width: 17rem;
      height: 22em;
    }
    .shop .movie {
      min-width: 100px; 
    }
   }